@import url('base.css');
@import url('navigation/navigation.css');
@import url('square_btn.css');
@import url('download_btn.css');
@import url('sort_btn/sort_btn.css');

.pairs__name {
    text-transform: uppercase;
}

.pairs__profit::before,
.pairs__invested::before {
    content: '$';
}

.pairs__percent::after {
    content: '%';
}
