@import url('base.css');
@import url('navigation/navigation.css');
@import url('square_btn.css');

body {
    background-image: url(star-lord.gif);
    background-repeat: no-repeat;
    background-position: 50% 100px;
    background-size: 25%;
}