.square-btn {
    display: block;
    width: 44px;
    height: 44px;
    border: none;
    padding: 0;
    border: 3px solid black;
    border-radius: 10px;
    cursor: pointer;
    position: fixed;
    bottom: 80px;
    left: calc(50% - 22px);
    background: white;
}