.modal {
    max-width: 400px;
    border-radius: 10px;
}

.modal__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 10px;
}

.modal input,
.modal select {
    padding: 5px;
}

.modal__buttons {
    grid-column: span 2;
    display: flex;
    justify-content: space-evenly;
}